body {
    margin: 0;
    font-family: "Roboto", sans-serif;

    display: flex;
    flex-direction: column;
}

.header, .hero {
    background-color: #1F2937;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.hero {
    height: 450px;
}
.header {
    padding: 10px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
}

.head {
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 8px;
}

.logo, .head, .image, .button {
    color: #F9FAF8;
}

a, .subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6a6a6a;

    height: 175px;
    padding: 30px;
    width: 450px;
    margin: 50px;
}

.button {
    margin-top: 10px;
    cursor: pointer;
    background-color: #3882F6;
    text-align: center;

    border-radius: 8px;
    padding: 8px 16px;
    width: 100px;
}

.heading {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 400px;
}

.title {
    margin: 40px;
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: bolder;
}

.images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 52px;

    margin-bottom: 80px;
}

.img {
    height: 150px;
    width: 150px;
    
    border-radius: 25px;
    border: 4px solid #3882F6;
    padding: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    text-align: center;
    text-wrap: wrap;
    padding: 8px;

    color: #3f3f3f;
}

.one, .two, .three, .four {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;

    padding: 70px;
}

.quo {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;

    width: 40%;
}

.thor {
    font-size: 24px;
    font-style: normal;
    text-align: right;
    font-weight: 700;
}

.call {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
    margin: 50px;
}

.callbutton {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #3882F6;
    border-radius: 8px;
    padding: 30px 50px;
    height: 60px;
    width: 950px;
}

.call2action {
    color: #F9FAF8;
    font-weight: bold;
    font-size: 30px;
}

.subhead {
    color: #E5E7EB;
}

.s-button {
    cursor: pointer;
    background-color: #3882F6;
    text-align: center;
    color: #F9FAF8;
    border-radius: 8px;
    border: 2px solid #F9FAF8;
    padding: 8px 16px;
    width: 100px;
}

.footer {
    background-color: #1F2937;
    color: #F9FAF8;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px;
}